.CardList {
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.card{
    position: relative;
    width: 280px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 28px;       
    text-align: left; 
    background: #FFFFFF;
    border-radius: 24px;
}

.CardButton{
    position: absolute;
    bottom: 35px;
    right: 20px;
    width: 60px;
    height: 50px;
    font-weight: 500;  
    text-transform: uppercase;
    background: #FFFFFF;
    color: #4BCFA0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.CardButton:hover,
.CardButton:focus {
    background: #4BCFA0;
    color: #FFFFFF;
    border: none;
}

.button {
    width: 235px;
    height: 60px;
    margin: 29px 0;
    font-size: 24px;   
    background: #4BCFA0;
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
}

.loader{
    margin: 120px 0;    
    font-size: 40px;   
}

@media screen and (min-width: 768px) {
    .CardList {
        display: flex;    
        flex-wrap: wrap;
        padding:  105px 152px 0 152px ;
    }

    .card{
        min-width: 330px;
        height: 256px;        
        margin: 0;
        margin-bottom: 40px;
        margin-right: 40px;
        padding: 32px;
    }

    .CardButton{
        bottom: 52px;
        right: 32px;
        width: 64px;
        height: 56px;
    }

    .loader{
        margin: 150px 0;  
    }
}